<div>
<form name="bdForm" class="form form-horizontal" onsubmit="return false" novalidate>
    <blockquote>
        <p>基本信息</p>
    </blockquote>
    <div class="form-group">
        <label class="control-label col-xs-2"><span class="red">*</span> BD编号</label>
        <div class="col-xs-10">
            <div class="input-group">
                <input type="text" ng-model="bd.name" readonly class="form-control" required />
                <span class="input-group-btn"><button class="btn btn-default" ng-click="getBdId()" ng-disabled="bd.name">生成ID</button></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2"><span class="red">*</span> 企业名称</label>
        <div class="col-xs-10">
            <div class="col-xs-10 no-padding-left">
                <select kendo-drop-down-list k-options="config.company" ng-model="bd.company_id" class="form-control size-full" required></select>
            </div>
            <div class="col-xs-2 no-padding-right no-padding-left text-right" power-checker allowed="1,4,5,2,3,6,7,8,9,10,99"><a class="btn btn-success size-full" ng-click="win1.open()">录入新企业</a></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4">合作顾问</label>
            <div class="col-xs-8">
                <select kendo-multi-select ng-model="bd.user_ids" k-options="config.person" multiple="multiple" class="form-control size-full"></select>
            </div>
        </div>
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4"><span class="red">*</span> 接入日期</label>
            <div class="col-xs-8">
                <input kendo-date-picker k-options="config.datepicker" ng-model="bd.date" disabled type="text" class="form-control size-full" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4"><span class="red">*</span> 客户来源</label>
            <div class="col-xs-8">
                <select kendo-drop-down-list ng-model="bd.source" class="form-control size-full" required>
                    <option value="主动BD" selected>主动BD</option>
                    <option value="客户CallIn">客户CallIn</option>
                    <option value="人脉推荐">人脉推荐</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4"><span class="red">*</span> 状态</label>
            <div class="col-xs-8">
                <select kendo-drop-down-list ng-model="bd.status" class="size-full" required>
                    <option value="">请选择状态...</option>
                    <option ng-repeat="item in data.status" value="{{item}}">{{item}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4"><span class="red">*</span> 归属公司</label>
            <div class="col-xs-8">
                <select kendo-drop-down-list ng-model="bd.belong" class="form-control size-full" required>
                    <option value="" selected>请选择</option>
                    <option value="上海">上海</option>
                    <option value="湖南">湖南</option>
                    <option value="武汉">武汉</option>
                    <option value="广州">武汉</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group hidden">
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4">业务意向</label>
            <div class="col-xs-8">
                <select kendo-drop-down-list ng-model="bd.type" class="form-control size-full">
                    <option value="猎头服务" selected>猎头服务</option>
                    <option value="极速猎车">极速猎车</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2"><span class="red">*</span> 沟通记录</label>
        <div class="col-xs-10">
            <textarea ng-model="bd.description" rows="6" class="form-control" required></textarea>
        </div>
    </div>
    <div class="form-group" ng-show="bd.file_path">
        <label class="control-label col-xs-2">合同附件</label>
        <div class="col-xs-10">
            <label class="form-control-static">
                <span ng-if="bd.file_coded==0">{{bd.file_path ? bd.file_path.split('/').pop() : ''}}</span>
                <span ng-if="bd.file_coded==1">{{bd.file_name}}</span>
                <a href="/file/download-file?path={{bd.file_path}}&name={{bd.file_name}}&coded={{bd.file_coded}}" class="text-info">下载</a></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">上传合同</label>
        <div class="col-xs-10">
            <input type="file" kendo-upload k-options="config.fileUpload" id="fileUploader" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
            <button class="btn btn-success col-xs-2" ng-click="saveBdInfo()" ng-disabled="bdForm.$invalid">保存</button>
            <button class="btn btn-danger col-xs-2 margin-left-20" ng-click="quit()">取消</button>
        </div>
    </div>
</form>
<div kendo-window="win1" k-title="'新增企业'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
     k-on-open="win1visible = true" k-on-close="win1visible = false">
    <div class="container-fluid">
        <div class="row">
            <company-form></company-form>
        </div>
    </div>
</div>
</div>