<form id="form" name="companyForm" action="" class="form form-horizontal" onsubmit="return false" novalidate>
    <blockquote>
        <p>基本信息</p>
    </blockquote>
    <div id="basicContainer">
        <div class="form-group">
            <label class="control-label col-xs-2"><span class="red">*</span> 公司名称</label>
            <div class="col-xs-10">
                <input kendo-auto-complete k-options="kendoConfig.companyAutoComplete" type="text" ng-model="company.name" class="form-control size-full" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 no-padding error-box">
                <label class="control-label col-xs-4"><span class="red">*</span> 所在地区</label>
                <div class="col-xs-8">
                    <div class="col-xs-6 no-padding-left">
                        <select kendo-drop-down-list k-options="kendoConfig.location.p" ng-model="company.location.p" name="location-province" class="form-control size-full" required>
                            <option value="" disabled>-- 请选择 --</option>
                        </select>
                    </div>
                    <div class="col-xs-6 no-padding-right">
                        <select kendo-drop-down-list k-options="kendoConfig.location.c" ng-model="company.location.c" name="location-city" class="form-control size-full" required>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 no-padding error-box">
                <label class="control-label col-xs-4"><span class="red">*</span> 公司规模</label>
                <div class="col-xs-8">
                    <select kendo-drop-down-list ng-model="company.scale" class="form-control size-full" required>
                        <option value="">请选择公司规模...</option>
                        <option ng-repeat="item in data.scale" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 no-padding error-box">
                <label class="control-label col-xs-4"><span class="red">*</span> 所属行业</label>
                <div class="col-xs-8">
                    <select kendo-drop-down-list ng-model="company.industry" class="form-control size-full" required>
                        <option value="">请选择公司行业...</option>
                        <option ng-repeat="item in data.industry" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6 no-padding error-box">
                <label class="control-label col-xs-4"><span class="red">*</span> 公司性质</label>
                <div class="col-xs-8">
                    <select kendo-drop-down-list ng-model="company.type" class="form-control size-full" required>
                        <option value="">请选择公司性质...</option>
                        <option ng-repeat="item in data.type" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 no-padding error-box">
                <label class="control-label col-xs-4"><span class="red">*</span> 公司地址</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="company.address" class="form-control size-full" required>
                </div>
            </div>
            <div class="col-xs-6 no-padding error-box">
                <label class="control-label col-xs-4"><span class="red">*</span> 成立时间</label>
                <div class="col-xs-8">
                    <input type="text" kendo-date-picker k-options="kendoConfig.yearSelector" ng-model="company.found" class="form-control size-full" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2"><span class="red">*</span> 企业简介</label>
            <div class="col-xs-10">
                <textarea ng-model="company.introduce" cols="30" rows="10" class="form-control" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">公司主页</label>
            <div class="col-xs-10">
                <input type="text" ng-model="company.website" class="form-control size-full">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">企业优势</label>
            <div class="col-xs-10">
                <textarea ng-model="company.advantage" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <blockquote>
        <p>联系人信息</p>
    </blockquote>
    <div class="form-group">
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4"><span class="red">*</span> 联系人</label>
            <div class="col-xs-8">
                <input type="text" ng-model="company.contact" class="form-control" value="" required />
            </div>
        </div>
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4"><span class="red">*</span> 联系电话</label>
            <div class="col-xs-8">
                <input type="text" ng-model="company.tel" class="form-control" value="" required />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4">电子邮箱</label>
            <div class="col-xs-8">
                <input type="text" ng-model="company.email" class="form-control" value="" />
            </div>
        </div>
        <div class="col-xs-6 no-padding error-box">
            <label class="control-label col-xs-4">QQ/其它</label>
            <div class="col-xs-8">
                <input type="text" ng-model="company.other" class="form-control" value="" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">备注信息</label>
        <div class="col-xs-10">
            <textarea ng-model="company.description" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
            <button type="submit" ng-click="saveInfo()" class="btn btn-primary size-mini" ng-disabled="companyForm.$invalid">提交</button>
            <a ng-click="quit()" class="btn btn-default size-mini">返回</a>
        </div>
    </div>
</form>
