<div>
    <div class="row">
        <h3 class="padding-15" ng-bind="company.name"></h3>
    </div>
    <div class="row">
        <span class="padding-15" ng-bind="company.area"></span>/
        <span class="padding-15" ng-bind="company.industry"></span>/
        <span class="padding-15" ng-bind="company.scale"></span>/
        <span class="padding-15" ng-bind="company.type"></span>
    </div>
    <div class="row">
        <p class="padding-15 dark-gray" ng-bind="company.introduce"></p>
    </div>
    <hr>
    <div class="row">
        <span class="padding-15"><i class="orange fa fa-user"></i> <span ng-bind="company.contact"></span></span>/
        <span class="padding-15"><i class="orange fa fa-mobile"></i> <span ng-bind="company.tel"></span></span>/
        <span class="padding-15"><i class="orange fa fa-envelope"></i> <span ng-bind="company.email"></span></span>/
        <span class="padding-15"><i class="orange fa fa-info-circle"></i> <span ng-bind="company.other"></span></span>
    </div>
    <div class="row">
        <p class="padding-15 text-info" ng-bind="company.description"></p>
    </div>
</div>