<div class="wrapper bg-white padding-15 margin-top-20 margin-bottom-50">
    <div class="container-fluid">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="#/">首页</a></li>
                <li>开票管理</li>
            </ul>
        </div>
        <div class="row margin-bottom-10" power-checker allowed="2,10,99">
            <div class="col-xs-1"><a class="btn btn-sm btn-success" id="add"><i class="fa fa-plus"></i> 新增开票信息</a></div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-xs-12">
                <div class="pull-left margin-right-10">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-default active" data-range="全部">全部</button>
                        <button class="btn btn-default" data-range="本月">本月</button>
                        <button class="btn btn-default" data-range="上月">上月</button>
                        <button class="btn btn-default" data-range="一季度">一季度</button>
                        <button class="btn btn-default" data-range="二季度">二季度</button>
                        <button class="btn btn-default" data-range="三季度">三季度</button>
                        <button class="btn btn-default" data-range="四季度">四季度</button>
                        <button class="btn btn-default" data-range="上半年">上半年</button>
                        <button class="btn btn-default" data-range="下半年">下半年</button>
                        <button class="btn btn-default" data-range="今年">今年</button>
                        <button class="btn btn-default" data-range="去年">去年</button>
                        <button class="btn btn-default" data-range="自定义">自定义</button>
                    </div>
                </div>
                <div class="pull-left" id="range_date_box" style="display: none;">
                    <div class="pull-left margin-left-10"><input type="text" name="sdate" id="sdate" class="size-120" placeholder="开始日期"></div>
                    <div class="pull-left margin-left-10 form-control-static"> ~ </div>
                    <div class="pull-left margin-left-10"><input type="text" name="edate" id="edate" class="size-120" placeholder="结束日期"></div>
                </div>
                <div class="pull-left margin-left-10 width-150"><input type="text" id="company_name" class="form-control input-sm" placeholder="请输入企业关键词查询"></div>
                <div class="pull-left margin-left-10"><select class="width-100" id="belong"></select></div>
                <div class="pull-left margin-left-10"><select class="width-100" id="invoice_type"></select></div>
                <div class="pull-left margin-left-10"><select class="width-100" id="status"></select></div>
                <div class="pull-left margin-left-10">
                    <button class="btn btn-sm btn-primary" id="search"><i class="fa fa-search"></i> 查询</button>
                </div>
            </div>
        </div>
        <!--<div class="flex margin-bottom-10">-->
            <!--<div class="flex flex-1">-->
                <!--<label class="form-control-static width-110 padding-right-15 text-right">客户名称：</label>-->
                <!--<div class="flex-1"><input type="text" id="company_name" class="form-control input-sm" placeholder="请输入企业关键词查询"></div>-->
            <!--</div>-->
            <!--<div class="flex flex-1">-->
                <!--<label class="form-control-static width-110 padding-right-15 text-right">归属公司：</label>-->
                <!--<div class="flex-1"><select id="belong"></select></div>-->
            <!--</div>-->
            <!--<div class="flex flex-1">-->
                <!--<label class="form-control-static width-110 padding-right-15 text-right">发票类型：</label>-->
                <!--<div class="flex-1"><select id="invoice_type"></select></div>-->
            <!--</div>-->
            <!--<div class="flex flex-1">-->
                <!--<label class="form-control-static width-110 padding-right-15 text-right">回款状态：</label>-->
                <!--<div class="flex-1"><select id="status"></select></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row margin-bottom-10">-->
            <!--<div class="col-xs-12">-->
                <!--<button class="btn btn-primary btn-sm width-100 margin-left-110" id="search">搜索</button>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row margin-bottom-10">
            <div class="col-xs-12">
                <div class="green form-control-static"><span class="bold font-110">总开票金额：<span id="total">0.00</span> 元</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="bordered border-color-gray"><div id="grid"></div></div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-xs-12">
                <div class="bordered border-color-gray"><div id="gridRequest"></div></div>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    var pData = new kendo.data.DataSource(),
        cData = new kendo.data.DataSource(),
        power = +$('meta[name="_sessionPower"]').attr('content');

    var ds = new kendo.data.DataSource({
        data: [],
        change: function () {
            console.log(this.view().length);
            var data = this.view(), total = 0;
            data.forEach(function (v) {
                if (v.invoice_status == '已开') {
                    total = total.plus(v.amount);
                }
            });
            $('#total').text(kendo.toString(total, 'n2'));
        }
    });

    $('#belong').kendoDropDownList({
        dataSource: ["上海", "湖南", "武汉"],
        optionLabel: '选择归属地区'
    }).data('kendoDropDownList');

    $('#invoice_type').kendoDropDownList({
        dataSource: ["增值税普通发票", "增值税专用发票"],
        optionLabel: '选择发票类型'
    }).data('kendoDropDownList');

    $('#status').kendoDropDownList({
        dataSource: ["未到账", "已到账"],
        optionLabel: '选择付款状态'
    }).data('kendoDropDownList');

    var sdate = $('#sdate').kendoDatePicker({
        culture: 'zh-CN',
        format: 'yyyy-MM-dd',
        change: function () {
            edate.min(this.value());
            edate.max(this.value().translate('now+365'));
            if (!edate.value()) {
                sdate.max(this.value());
                sdate.min(this.value().translate('now-365'));
                edate.value(this.value());
            }
        }
    }).data('kendoDatePicker');
    var edate = $('#edate').kendoDatePicker({
        culture: 'zh-CN',
        format: 'yyyy-MM-dd',
        change: function () {
            sdate.max(this.value());
            sdate.min(this.value().translate('now-365'));
            if (!sdate.value()) {
                edate.min(this.value());
                edate.max(this.value().translate('now+365'));
                sdate.value(this.value());
            }
        }
    }).data('kendoDatePicker');

    $('div.btn-group').delegate('button[data-range]', 'click', function () {
        var range = $(this).data('range');
        $(this).addClass('active').siblings().removeClass('active');
        if (range == '自定义') {
            $('#range_date_box').show();
        } else {
            $('#range_date_box').hide();
        }
    });

    function getQuickSearchDates(range) {
        var date = {sdate: '', edate: ''}, d = new Date();
        switch (range) {
            case '本周':
                date.sdate = Date.translate('now-'+(day - 1)).format();
                date.edate = Date.translate('now+'+(7 - day)).format();
                break;
            case '上周':
                date.sdate = Date.translate('now-'+(day - 1 + 7)).format();
                date.edate = Date.translate('now-' + day).format();
                break;
            case '本月':
                date.sdate = new Date(d.getFullYear(), d.getMonth(), 1).format();
                date.edate = new Date(d.getFullYear(), d.getMonth()+1, 0).format();
                break;
            case '上月':
                date.sdate = new Date(d.getFullYear(), d.getMonth()-1, 1).format();
                date.edate = new Date(d.getFullYear(), d.getMonth(), 0).format();
                break;
            case '一季度':
                date.sdate = new Date(d.getFullYear(), 0, 1).format();
                date.edate = new Date(d.getFullYear(), 3, 0).format();
                break;
            case '二季度':
                date.sdate = new Date(d.getFullYear(), 3, 1).format();
                date.edate = new Date(d.getFullYear(), 6, 0).format();
                break;
            case '三季度':
                date.sdate = new Date(d.getFullYear(), 6, 1).format();
                date.edate = new Date(d.getFullYear(), 9, 0).format();
                break;
            case '四季度':
                date.sdate = new Date(d.getFullYear(), 9, 1).format();
                date.edate = new Date(d.getFullYear(), 12, 0).format();
                break;
            case '上半年':
                date.sdate = new Date(d.getFullYear(), 0, 1).format();
                date.edate = new Date(d.getFullYear(), 6, 0).format();
                break;
            case '下半年':
                date.sdate = new Date(d.getFullYear(), 6, 1).format();
                date.edate = new Date(d.getFullYear(), 12, 0).format();
                break;
            case '今年':
                date.sdate = new Date(d.getFullYear(), 0, 1).format();
                date.edate = new Date(d.getFullYear() + 1, 0, 0).format();
                break;
            case '去年':
                date.sdate = new Date(d.getFullYear() - 1, 0, 1).format();
                date.edate = new Date(d.getFullYear(), 0, 0).format();
                break;
            default:
                return;
                break;
        }
        return date;
    }

    $('#search').click(function () {
        var filters = [];
        var range = $('button[data-range].active').data('range'), data = {};
        if (range == '全部') {
            data.sdate = null;
            data.edate = null;
        } else if (range == '自定义') {
            data.sdate = $('#sdate').val();
            data.edate = $('#edate').val();
        } else {
            var date = getQuickSearchDates(range);
            data.sdate = date.sdate;
            data.edate = date.edate;
        }
        var c_name = $('#company_name').val().trim(),
            belong = $('#belong').val(),
            invoice_type = $('#invoice_type').val(),
            status = $('#status').val();
        if (c_name) {
            filters.push({field: 'company_name', operator: 'contains', value: c_name});
        }
        if (belong) {
            filters.push({field: 'belong', operator: 'eq', value: belong});
        }
        if (invoice_type) {
            filters.push({field: 'invoice_type', operator: 'eq', value: invoice_type});
        }
        if (status) {
            filters.push({field: 'status', operator: 'eq', value: status});
        }
        if (data.sdate && data.edate) {
            filters.push({field: 'invoice_date', operator: 'gte', value: data.sdate + ' 00:00:00'});
            filters.push({field: 'invoice_date', operator: 'lte', value: data.edate + ' 23:59:59'});
        }
        grid.dataSource.filter(filters);
        ds.filter(filters);
    });

    var grid = $('#grid').kendoGrid({
        dataSource: {
            transport: {
                read: function (option) {
                    $.$ajax({
                        url: '/finance/invoice-json-list',
                        type: 'GET',
                        dataType: 'json',
                        success: function (res) {
                            option.success(res);
                            ds.data(res);
                        }
                    })
                }
            },
            schema: {
                model: {
                    id: 'id'
                }
            },
        },
        scrollable: false,
        pageable: {
            pageSize: 10
        },
        columns: [
            //{field: 'job_name', title: '职位名称'},
            {field: 'company_name', title: '客户名称', template: '<b>#:company_name#</b> - <span class="dark-gray">#:job_name# - #:person_name#</span>'},
            //{field: 'person_name', title: '候选人'},
            {field: 'belong', title: '归属公司'},
            {field: 'amount', title: '发票金额'},
            {field: 'type', title: '款项类型'},
            {field: 'invoice_type', title: '发票类型', template: getInvoiceType},
            {field: 'estimate_date', title: '约定日期', template: getDate('estimate_date'), width: 80},
            {field: 'status', title: '回款状态', template: getPayStatus},
            {field: 'invoice_status', title: '开票状态', template: getInvoiceStatus},
            //{field: 'description', title: '备注', template: '<div style="max-width:300px;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" title="#:description#"><span>#:description#</span></div>'},
            {field: 'user_name', title: '开票人', width: 80},
            {field: 'created_at', title: '申请日期', template: getDate('created_at'), width: 80},
            {title: '操作', template: getButtons, width: 120}
        ]
    }).data('kendoGrid');

    function getInvoiceType(item) {
        return item.invoice_type == '增值税专用发票' ? '<span class="label label-warning">专</span>' : '<span class="label label-success">普</span>';
    }

    function getPayStatus(item) {
        if (item.status == '已到账') {
            return '<span class="green">{0}</span> <small class="dark-gray">[{1}]</small>'.format(item.status, new Date(item.pay_date).format());
        } else {
            return '<span class="red">{0}</span>'.format(item.status);
        }
    }

    function getInvoiceStatus(item) {
        if (item.invoice_status == '已开') {
            return '{0} <small class="dark-gray">[{1}]</small>'.format(item.invoice_status, new Date(item.invoice_date).format());
        } else if (item.invoice_status == '作废') {
            return '<span class="red">{0}</span>'.format(item.invoice_status)
        } else {
            return item.invoice_status;
        }
    }

    function getDate(field) {
        return function (item) {
            return new Date(item[field].replace(/-/g, '/')).format();
        }
    }

    function getButtons(item) {
        if (item.filepath) {
            return '<a class="btn btn-default btn-xs margin-right-5 _edit" data-id="{0}"><i class="fa fa-pencil"></i></a>\
                    <a class="btn btn-danger btn-xs margin-right-5 _delete" data-id="{0}"><i class="fa fa-trash-o"></i></a>\
                    <a class="btn btn-success btn-xs" href="{1}" target="_blank" title="查看附件"><i class="fa fa-eye"></i></a>'.format(item.id, item.filepath);
        } else {
            return '<a class="btn btn-default btn-xs margin-right-5 _edit" data-id="{0}"><i class="fa fa-pencil"></i></a>\
                    <a class="btn btn-danger btn-xs margin-right-5 _delete" data-id="{0}"><i class="fa fa-trash-o"></i></a>\
                    <a class="btn btn-success btn-xs" disabled title="查看附件"><i class="fa fa-eye-slash"></i></a>'.format(item.id)
        }
    }

    $('#add').click(function () {
        initDialog(null);
    });

    $('#grid').delegate('a._edit', 'click', function() {
        var id = $(this).data('id'), item = grid.dataSource.get(id);
        initDialog(item);
    });

    $('#grid').delegate('a._delete', 'click', function() {
        var id = $(this).data('id');
        $.$modal.confirm('确定要删除吗？', function (isOk) {
            if (!isOk) return;
            $.$ajax({
                url: '/finance/delete-invoice',
                type: 'POST',
                dataType: 'json',
                data: {id: id},
                success: function (res) {
                    if (res > 0) {
                        grid.dataSource.read();
                    }
                }
            });
        });
    });

    function initDialog(data) {
        var required = ['job_id', 'company_id', 'person_id', 'user_id', 'request_user', 'belong', 'amount', 'invoice_type', 'type', 'estimate_date', 'invoice_status', 'status', 'filepath'];
        $.$modal.dialog({
            title: '{0}开票信息'.format(data ? '编辑' : '新建'),
            size: 'lg',
            content: '<div id="dlg_ctn" class="padding-right-15" style="max-height:400px;overflow-y:auto;">' +
            '<form class="form form-horizontal">' +
                '<div class="form-group">' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 职位名称:</label>' +
                        '<div class="col-xs-9"><select id="job_id" class="form-control size-full"></select></div>' +
                    '</div>' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 候选人:</label>' +
                        '<div class="col-xs-9"><select id="person_id" class="form-control size-full"></select></div>' +
                    '</div>' +
                '</div>' +
                '<div class="form-group">' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 开票人:</label>' +
                        '<div class="col-xs-9"><select id="user_id" class="form-control size-full"></select></div>' +
                    '</div>' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 归属公司:</label>' +
                        '<div class="col-xs-9"><select id="belong" class="form-control size-full"></select></div>' +
                    '</div>' +
                '</div>' +
                '<div class="form-group">' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 申请人:</label>' +
                        '<div class="col-xs-9"><select id="request_user" class="form-control size-full"></select></div>' +
                    '</div>' +
                    // '<div class="col-xs-6 no-padding">' +
                    //     '<label class="control-label col-xs-3"><span class="red">*</span> 归属公司:</label>' +
                    //     '<div class="col-xs-9"><select id="belong" class="form-control size-full"></select></div>' +
                    // '</div>' +
                '</div>' +
                '<div class="form-group">' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 开票金额:</label>' +
                        '<div class="col-xs-9"><div class="input-group"><input type="text" id="amount" class="form-control" /><span class="input-group-addon">元</span></div></div>' +
                    '</div>' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 发票类型:</label>' +
                        '<div class="col-xs-9"><select id="invoice_type" class="form-control size-full"></select></div>' +
                    '</div>' +
                '</div>' +
                '<div class="form-group">' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 款项类型:</label>' +
                        '<div class="col-xs-9"><select id="type" class="form-control size-full"></select></div>' +
                    '</div>' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 约定日期:</label>' +
                        '<div class="col-xs-9"><input type="text" id="estimate_date" class="form-control _date" /></div>' +
                    '</div>' +
                '</div>' +
                '<div class="form-group">' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 开票状态:</label>' +
                        '<div class="col-xs-9"><select id="invoice_status" class="form-control size-full"></select></div>' +
                    '</div>' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3">开票日期:</label>' +
                        '<div class="col-xs-9"><input type="text" id="invoice_date" class="form-control _date" /></div>' +
                    '</div>' +
                '</div>' +
                '<div class="form-group">' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3"><span class="red">*</span> 回款状态:</label>' +
                        '<div class="col-xs-9"><select id="status" class="form-control size-full"></select></div>' +
                    '</div>' +
                    '<div class="col-xs-6 no-padding">' +
                        '<label class="control-label col-xs-3">回款日期:</label>' +
                        '<div class="col-xs-9"><input type="text" id="pay_date" class="form-control _date" /></div>' +
                    '</div>' +
                '</div>' +
                '<div class="form-group flex">' +
                    '<label class="control-label width-110 padding-right-15"><span class="red">*</span> 附件上传:</label>' +
                    '<div class="flex-1 padding-left-15 padding-right-15">' +
                        '<input type="file" id="file" /><input type="hidden" id="filepath" />' +
                        '<div id="img_ctn" class="padding-10" style="display: none;"><img src="" alt="" style="height:200px;"></div>' +
                    '</div>' +
                '</div>' +
                '<div class="form-group flex">' +
                    '<label class="control-label width-110 padding-right-15">备注:</label>' +
                    '<div class="flex-1 padding-left-15 padding-right-15">' +
                        '<textarea id="description" class="form-control" rows="3" style="resize: none;"></textarea>' +
                    '</div>' +
                '</div>' +
            '</form>' +
            '</div>',
            destroy: true,
            footer: {
                buttons: [
                    {
                        name: 'ok',
                        handler: function () {
                            var self = this, dom = self.dom, formData = {}, url = '/finance/save-invoice';
                            var job = $('#job_id', dom).data('kendoDropDownList').dataItem();
                            var person = $('#person_id', dom).data('kendoDropDownList').dataItem();
                            var user = $('#user_id', dom).data('kendoDropDownList').dataItem();
                            var request_user = $('#request_user', dom).data('kendoDropDownList').dataItem();
                            var invoice_date = $('#invoice_date', dom).data('kendoDatePicker').value();
                            var estimate_date = $('#estimate_date', dom).data('kendoDatePicker').value();
                            var pay_date = $('#pay_date', dom).data('kendoDatePicker').value();
                            if (job && job.job_id) {
                                formData.job_id = job.job_id;
                                formData.job_name = job.job_name;
                                formData.company_id = job.company_id;
                                formData.company_name = job.company_name;
                            }
                            if (person && person.person_id) {
                                formData.person_id = person.person_id;
                                formData.person_name = person.person_name;
                            }
                            if (user && user.user_id) {
                                formData.user_id = user.user_id;
                                formData.user_name = user.user_name;
                            }
                            if (request_user && request_user.user_id) {
                                formData.request_user = request_user.user_id;
                            }
                            if (invoice_date) formData.invoice_date = invoice_date.format('yyyy-mm-dd');
                            if (estimate_date) formData.estimate_date = estimate_date.format('yyyy-mm-dd');
                            if (pay_date) formData.pay_date = pay_date.format('yyyy-mm-dd');

                            formData.status = $('#status', dom).val();
                            formData.type = $('#type', dom).val();
                            formData.belong = $('#belong', dom).val();
                            formData.amount = $('#amount', dom).data('kendoNumericTextBox').value();
                            formData.invoice_status = $('#invoice_status', dom).val();
                            formData.invoice_type = $('#invoice_type', dom).val();
                            formData.description = $('#description', dom).val();
                            formData.filepath = $('#filepath', dom).val();
                            console.log(formData);

                            var invalid = false;
                            required.forEach(function (n) {
                                if (formData[n] === '') invalid = true;
                            });
                            if (invalid) {
                                $.$modal.alert('信息填写不全，请补全后再保存');
                                return;
                            }

                            if (data && data.id) {
                                url = '/finance/edit-invoice';
                                formData.id = data.id;
                            }
                            $.$ajax({
                                url: url,
                                type: 'POST',
                                dataType: 'json',
                                data: {invoice: formData, request_id: data ? data.request_id || 0 : 0},
                                success: function (res) {
                                    if (~~res > 0) {
                                        self.hide();
                                        grid.dataSource.read();
                                        if (data.request_id) gridRequest.dataSource.read();
                                        $.$modal.alert('保存成功');
                                    } else {
                                        $.$modal.alert(res);
                                    }
                                }
                            })
                        }
                    },
                    {
                        name: 'cancel',
                        handler: function () {
                            this.hide();
                        }
                    }
                ]
            },
            onLoaded: function () {
                var self = this, dom = self.dom;
                var job = $('#job_id', dom).kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/result/search-job-with-company'
                            }
                        },
                        serverFiltering: true
                    },
                    dataTextField: 'job_name',
                    dataValueField: 'job_id',
                    template: '#:job_name#<br><small class="dark-gray">#:company_name#</small>',
                    valueTemplate: '#:job_name# -- <small class="dark-gray">#:company_name#</small>',
                    filter: 'contains',
                    minLength: 2,
                    optionLabel: '请输入岗位或企业关键字查询',
                    popup: {
                        appendTo: dom
                    },
                    filtering: function(e) {
                        var filter = e.filter;
                        if (!filter || !filter.value) {
                            e.preventDefault();
                        }
                    },
                    change: function () {
                        var item = this.dataItem();
                        $.$ajax({
                            url: '/result/json-job-person-list',
                            type: 'GET',
                            dataType: 'json',
                            data: {job_id: item.job_id},
                            success: function (res) {
                                person.dataSource.data(res);
                                if (data.person_id) person.select(function(item) {
                                    return item.person_id == data.person_id;
                                })
                            }
                        });
                    }
                }).data('kendoDropDownList');

                var person = $('#person_id', dom).kendoDropDownList({
                    dataSource: [],
                    dataTextField: 'person_name',
                    dataValueField: 'person_id',
                    optionLabel: '请选择上岗候选人',
                    template: '#:person_name#  <small class="dark-gray">[入职日期：#:new Date(date).format()#]</small>',
                    valueTemplate: '#:person_name#  <small class="dark-gray">[入职日期：#:new Date(date).format()#]</small>',
                    popup: {
                        appendTo: dom
                    },
                }).data('kendoDropDownList');

                var user = $('#user_id', dom).kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/result/json-user-list'
                            }
                        }
                    },
                    dataTextField: 'user_name',
                    dataValueField: 'user_id',
                    template: '<span style="font-size:12px;">#:user_name# -- #:group_name# -- #:area_name#</span>',
                    optionLabel: '请选择开票人',
                    filter: 'contains',
                    popup: {
                        appendTo: dom
                    },
                }).data('kendoDropDownList');

                var request_user = $('#request_user', dom).kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/result/json-user-list'
                            }
                        }
                    },
                    dataTextField: 'user_name',
                    dataValueField: 'user_id',
                    template: '<span style="font-size:12px;">#:user_name# -- #:group_name# -- #:area_name#</span>',
                    optionLabel: '请选择申请人',
                    filter: 'contains',
                    popup: {
                        appendTo: dom
                    },
                }).data('kendoDropDownList');

                var amount = $('#amount').kendoNumericTextBox({
                    spinners: false,
                    format: 'n2'
                }).data('kendoNumericTextBox');

                var type = $('#type', dom).kendoDropDownList({
                    dataSource: ["首款", "尾款", "全款", "其他"],
                    optionLabel: '请选择款项类型'
                }).data('kendoDropDownList');

                var belong = $('#belong', dom).kendoDropDownList({
                    dataSource: ["上海", "湖南", "武汉"],
                    optionLabel: '请选择归属公司'
                }).data('kendoDropDownList');

                var status = $('#status', dom).kendoDropDownList({
                    dataSource: ["未到账", "已到账"],
                    optionLabel: '请选择回款状态'
                }).data('kendoDropDownList');

                var invoice_status = $('#invoice_status', dom).kendoDropDownList({
                    dataSource: ["未开", "已开", "作废"],
                    optionLabel: '请选择开票状态'
                }).data('kendoDropDownList');

                var invoice_type = $('#invoice_type', dom).kendoDropDownList({
                    dataSource: ["增值税普通发票", "增值税专用发票"],
                    optionLabel: '请选择发票类型'
                }).data('kendoDropDownList');

                $('._date', dom).kendoDatePicker({
                    culture: 'zh-CN',
                    format: 'yyyy-MM-dd'
                });

                $('#file', dom).kendoUpload({
                    async: {
                        saveUrl: '/file/upload-invoice?_token='+$('meta[name="_token"]').attr('content'),
                        saveField: 'file',
                    },
                    success: function (e) {
                        console.log(e);
                        $('#filepath', dom).val(e.response);
                        $('#img_ctn').show().find('img').attr('src', e.response);
                    },
                    upload: function (e) {
                        var files = e.files;
                        files.forEach(function (v) {
                            var ext = v.extension.toLowerCase()
                            if (['.jpg', '.png'].indexOf(ext) < 0) {
                                $.$modal.alert('只能上传jpg/png格式的图片');
                                e.preventDefault();
                            }
                        });
                    }
                });

                //with edit data
                if (data) {
                    var inited = false;
                    job.bind('dataBound', function () {
                        if (!inited && this.dataItems().length) {
                            job.select(function (item) {
                                return item.job_id == data.job_id;
                            });
                            inited = true;
                            job.trigger('change');
                        }
                    });
                    person.bind('dataBound', function () {
                        person.select(function(item) {
                            return item.person_id == data.person_id;
                        });
                    });
                    job.search(data.job_name);
                    user.bind('dataBound', function () {
                        user.select(function (item) {
                            return item.user_id == data.user_id;
                        });
                    });
                    request_user.bind('dataBound', function () {
                        request_user.select(function (item) {
                            return item.user_id == data.request_user;
                        });
                    });
                    type.select(function (item) {
                        return item == data.type;
                    });
                    status.select(function (item) {
                        return item == data.status;
                    });
                    belong.select(function (item) {
                        return item == data.belong;
                    });
                    invoice_status.select(function (item) {
                        return item == data.invoice_status;
                    });
                    invoice_type.select(function (item) {
                        return item == data.invoice_type;
                    });
                    amount.value(data.amount);
                    if (data.estimate_date) $('#estimate_date', dom).data('kendoDatePicker').value(new Date(data.estimate_date));
                    if (data.invoice_date) $('#invoice_date', dom).data('kendoDatePicker').value(new Date(data.invoice_date));
                    if (data.pay_date) $('#pay_date', dom).data('kendoDatePicker').value(new Date(data.pay_date));
                    $('#description', dom).val(data.description);
                    if (data.filepath) {
                        $('#filepath', dom).val(data.filepath);
                        $('#img_ctn', dom).show().find('img').attr('src', data.filepath);
                    }
                }
            }
        }).show();
    }

    /****************************************开票申请列表*******************************************/

    var gridRequest = $('#gridRequest').kendoGrid({
        dataSource: {
            transport: {
                read: function (option) {
                    $.$ajax({
                        url: '/finance/invoice-request-list',
                        type: 'GET',
                        dataType: 'json',
                        success: function (res) {
                            option.success(res);
                        }
                    })
                }
            },
            schema: {
                model: {
                    id: 'id'
                }
            },
            pageSize: 10
        },
        scrollable: false,
        pageable: true,
        columns: [
            {title: '申请开票信息', template: '<b>#:company_name#</b><span class="dark-gray"> - #:job_name# - #:person_name#</span>'},
            {field: 'amount', title: '开票金额'},
            {field: 'belong', title: '归属公司'},
            {title: '开票信息', template: getInvoiceInfo},
            {field: 'user_name', title: '申请人'},
            {title: '操作', template: getInvoiceButtons, width: 180}
        ]
    }).data('kendoGrid');

    function getInvoiceButtons(item) {
        if (item.filepath) {
            return '<a class="btn btn-success btn-xs _operate" data-id="{0}">开票</a>\
                    <a class="btn btn-warning btn-xs margin-left-5 _invoiced" data-id="{0}">设为已开</a>\
                    <a class="btn btn-success btn-xs margin-right-5" href="/file/download-file?path={1}&coded=1&name={2}" target="_blank" title="下载附件"><i class="fa fa-download"></i></a>'.format(item.id, item.filepath, item.filename);
        } else {
            return '<a class="btn btn-success btn-xs _operate" data-id="{0}">开票</a>\
                    <a class="btn btn-warning btn-xs margin-left-5 _invoiced" data-id="{0}">设为已开</a>\
                    <a class="btn btn-success btn-xs margin-right-5" disabled title="下载附件"><i class="fa fa-download"></i></a>'.format(item.id)
        }
    }

    function getInvoiceInfo(item) {
        return item.need_invoice == 1 ? '<span class="pointer dark-orange _view" data-id="{0}">[查看开票信息]</span>'.format(item.id) : '无';
    }

    $('#gridRequest').delegate('._view', 'click', function() {
        var id = $(this).data('id'), item = gridRequest.dataSource.get(id), desc = item.invoice_type == 1 ? ['增值税普通发票'] : ['增值税专用发票'];
        desc = desc.concat(item.invoice_desc.split('|'));
        $.$modal.dialog({
            title: '开票信息',
            destroy: true,
            content: '<ul class="list-group"></ul>',
            footer: false,
            onLoaded: function () {
                var dom = this.dom, text = ['开票类型', '开票名称', '纳税人识别号', '公司地址', '公司电话', '开户行', '银行帐号'], li = [];
                text.forEach(function (v, i) {
                    li.push('<li class="list-group-item"><span class="dark-gray margin-right-10">{0}:</span>{1}</li>'.format(v, desc[i]));
                });
                dom.find('ul').html(li.join(''));
            }
        }).show();
    });

    $('#gridRequest').delegate('a._operate', 'click', function () {
        var id = $(this).data('id'), item = gridRequest.dataSource.get(id);
        var data = {
            company_id: item.company_id,
            job_id: item.job_id,
            job_name: item.job_name,
            person_id: item.person_id,
            amount: item.amount,
            belong: item.belong,
            invoice_type: item.invoice_type == '1' ? '增值税普通发票' : item.invoice_type == '2' ? '增值税专用发票' : '',
            request_user: item.user_id,
            request_id: item.id
        };
        initDialog(data);
    });

    $('#gridRequest').delegate('a._invoiced', 'click', function() {
        var id = $(this).data('id');
        $.$modal.confirm('确定要设为已开吗？', function (isOk) {
            if (!isOk) return;
            $.$ajax({
                url: '/finance/pay-notice-invoiced',
                type: 'POST',
                dataType: 'json',
                data: {id: id},
                success: function (res) {
                    if (res > 0) {
                        gridRequest.dataSource.read();
                    }
                }
            });
        });
    });
});
</script>