<div class="wrap bg-white padding-15  margin-top-20 margin-bottom-50 bordered border-color-orange">
    <div class="container-fluid">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="#/">首页</a></li>
                <li><a href="#/hunt/list">寻访管理</a></li>
                <li>寻访详情</li>
            </ul>
        </div>
        <div class="row">
            <form name="form" class="form form-horizontal" onsubmit="return false" novalidate>
                <blockquote>
                    <p>基本信息</p>
                </blockquote>
                <div class="form-group">
                    <label class="control-label col-xs-2"><span class="red">*</span> 业务编号</label>
                    <div class="col-xs-10">
                        <label class="form-control-static orange">{{hunt.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2"><span class="red">*</span> 候选人</label>
                    <div class="col-xs-10">
                        <label class="form-control-static">{{hunt.person_name}} <i class="fa fa-search orange margin-left-10" ng-click="win4.open()"></i> <a class="btn btn-sm bg-orange white margin-left-10" ng-click="showPersonHuntList()">查看所有推荐岗位</a></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2"><span class="red">*</span> 岗位名称</label>
                    <div class="col-xs-10">
                        <label class="form-control-static">{{hunt.job_name}} <i class="fa fa-search orange margin-left-10" ng-click="win5.open()"></i> <a class="btn btn-sm bg-orange white margin-left-10" ng-click="showJobHuntList()">查看所有推荐候选人</a></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2"><span class="red">*</span> 所属企业</label>
                    <div class="col-xs-10">
                        <label class="form-control-static">{{hunt.company_name}} <i class="fa fa-search orange margin-left-10" ng-click="win6.open()"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 no-padding error-box">
                        <label class="control-label col-xs-4"><span class="red">*</span> 顾问</label>
                        <div class="col-xs-8">
                            <label class="form-control-static">{{hunt.user_name}}</label>
                        </div>
                    </div>
                    <div class="col-xs-6 no-padding error-box">
                        <label class="control-label col-xs-4"><span class="red">*</span> 接入日期</label>
                        <div class="col-xs-8">
                            <label class="form-control-static">{{hunt.date}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 no-padding error-box">
                        <label class="control-label col-xs-4">寻访费用</label>
                        <div class="col-xs-8">
                            <label class="form-control-static">{{hunt.price}}</label>
                        </div>
                    </div>
                    <div class="col-xs-6 no-padding error-box">
                        <label class="control-label col-xs-4">状态</label>
                        <div class="col-xs-8">
                            <label class="form-control-static">{{hunt.status}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">寻访纪录</label>
                    <div class="col-xs-10">
                        <label class="form-control-static">{{hunt.description}}</label>
                    </div>
                </div>
            </form>
            <blockquote>
                <p>面试跟进记录</p>
            </blockquote>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="rcd in records track by $index">
                    <p>
                        <span ng-bind="rcd.user_name" class="bold orange"></span>
                            <span class="pull-right" ng-if="rcd.user_id == user_id">
                                <a ng-click="delRecord($index)" class="red underline"><small>删除这条记录</small></a>
                            </span>
                    </p>
                    <pre ng-bind="rcd.text" class="padding-20"></pre>
                    <div class="text-right">记录时间： <span ng-bind="rcd.created_at"></span></div>
                </li>
                <li class="list-group-item list-group-item-warning">
                    <form action="" class="form" name="recForm" novalidate>
                        <span class="help-block">记录文字必须达到15字或以上</span>
                        <textarea ng-model="record.text" cols="30" rows="5" class="form-control" ng-minlength="15" required></textarea>
                        <div class="text-right margin-top-10">
                            <div class="pull-left">
                                <button class="btn btn-info" ng-click="makeReport()">推荐报告</button>
                                <button class="btn btn-primary" ng-click="addFaceView()">面试通知</button>
                                <button class="btn btn-success" ng-click="makeOffer()">Offer</button>
                                <button class="btn btn-warning" ng-click="makeSuccess()">上岗</button>
                                <button class="btn btn-danger" ng-click="makeResult()">业绩</button>
                            </div>
                            <button class="btn btn-default" ng-disabled="recForm.$invalid" ng-click="addRecord()">添加记录</button>
                        </div>
                    </form>
                </li>
            </ul>
            <blockquote ng-if="reportInfo.id>0">
                <p>推荐报告</p>
            </blockquote>
            <div class="col-xs-12" ng-if="reportInfo.id>0">
                <p class="indent">文件名称： <a href="/file/download-file/?path={{reportInfo.filepath}}&name={{reportInfo.filename}}&coded={{reportInfo.filecoded}}">{{reportInfo.filename}}</a>
                    <a ng-click="deleteReport(reportInfo.id)" class="btn btn-xs btn-danger margin-left-10" style="text-indent:0;"><i class="fa fa-times"></i> 删除</a>
                    <a ng-click="confirmReport(reportInfo.id)" ng-disabled="reportInfo.is_confirm" class="btn btn-xs btn-primary margin-left-10" style="text-indent:0;"><i class="fa fa-check"></i> {{reportInfo.is_confirm == 1 ? "已确认" : "确认"}}</a></p>
                <p class="indent">备注信息： <span class="text-info">{{reportInfo.desc}}</span></p>
            </div>
            <div class="clearfix"></div>
            <blockquote>
                <p>面试记录</p>
            </blockquote>
            <div class="col-xs-12 bordered border-color-gray no-padding margin-bottom-10">
                <div kendo-grid k-options="config.grid_face"></div>
            </div>
            <div class="clearfix"></div>
            <blockquote ng-if="offerInfo.id>0">
                <p>Offer</p>
            </blockquote>
            <div class="col-xs-12" ng-if="offerInfo.id>0">
                <p class="indent">文件名称： <a href="/file/download-file/?path={{offerInfo.filepath}}&name={{offerInfo.filename}}&coded={{offerInfo.filecoded}}">{{offerInfo.filename}}</a>
                    <a ng-click="deleteOffer(offerInfo.id)" class="red"><i class="fa fa-times"></i> 删除</a>
                </p>
                <p class="indent">备注信息： <span class="text-info">{{offerInfo.desc}}</span></p>
            </div>
            <div class="clearfix"></div>
            <blockquote ng-if="resultInfo.id>0">
                <p>上岗</p>
            </blockquote>
            <div class="col-xs-12" ng-if="successInfo.id>0">
                <p class="indent">
                    上岗日期： {{successInfo.date}}, 保证期: {{successInfo.protected}}
                    <a ng-click="deleteSuccess(successInfo.id)" class="red"><i class="fa fa-times"></i> 删除</a>
                </p>
            </div>
            <div class="clearfix"></div>
            <blockquote>
                <p>业绩</p>
            </blockquote>
            <!--<div class="col-xs-12">-->
                <!--<p class="indent">-->
                    <!--打款日期： {{resultInfo.date}}, 业绩额度: {{resultInfo.amount}}-->
                    <!--<a ng-click="deleteResult(resultInfo.id)" class="red"><i class="fa fa-times"></i> 删除</a>-->
                <!--</p>-->
            <!--</div>-->
            <div class="col-xs-12 bordered border-color-gray no-padding margin-bottom-10">
                <div kendo-grid k-options="config.grid_result"></div>
            </div>
            <div class="clearfix"></div>
            <blockquote>
                <p>附件列表</p>
            </blockquote>
            <div class="col-xs-12 bordered border-color-gray no-padding">
                <div kendo-grid k-options="config.grid" id="grid"></div>
            </div>
        </div>

        <div kendo-window="win1" k-title="'上传文件'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win1visible = true" k-on-close="win1visible = false">
            <div class="container-fluid">
                <div class="row">
                    <form name="dlgForm" class="form form-horizontal" onsubmit="return false" novalidate>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 上传附件</label>
                            <div class="col-xs-10">
                                <input kendo-upload k-options="config.file" type="file" class="form-control" id="file"><input type="hidden" id="filePath" ng-model="file.path" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">文件备注</label>
                            <div class="col-xs-10">
                                <textarea id="fileDesc" rows="5" class="form-control" ng-model="file.desc"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <button class="btn btn-success col-xs-2" ng-click="saveFile()" ng-disabled="dlgForm.$invalid">保存</button>
                                <button class="btn btn-danger col-xs-2 margin-left-20" ng-click="win1.close()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div kendo-window="win2" k-title="'岗位推荐列表'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win2visible = true" k-on-close="win2visible = false">
            <div class="container-fluid">
                <div class="row">
                    <div kendo-grid k-options="config.grid_person"></div>
                </div>
            </div>
        </div>
        <div kendo-window="win3" k-title="'推荐候选人列表'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win3visible = true" k-on-close="win3visible = false">
            <div class="container-fluid">
                <div class="row">
                    <div kendo-grid k-options="config.grid_hunt"></div>
                </div>
            </div>
        </div>
        <div kendo-window="win4" k-title="'候选人信息'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win4visible = true" k-on-close="win4visible = false">
            <div class="container-fluid">
                <resume-info id="{{hunt.person_id}}"></resume-info>
            </div>
        </div>
        <div kendo-window="win5" k-title="'岗位信息'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win5visible = true" k-on-close="win5visible = false">
            <div class="container-fluid">
                <job-info id="{{hunt.job_id}}"></job-info>
            </div>
        </div>
        <div kendo-window="win6" k-title="'企业信息'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win6visible = true" k-on-close="win6visible = false">
            <div class="container-fluid">
                <company-info id="{{hunt.company_id}}"></company-info>
            </div>
        </div>
        <div kendo-window="win7" k-title="'上传推荐报告'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-options="config.rptWin">
            <div class="container-fluid">
                <div class="row">
                    <form name="rptForm" class="form form-horizontal" onsubmit="return false" novalidate>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 上传报告</label>
                            <div class="col-xs-10">
                                <input kendo-upload k-options="config.reportFile" type="file" class="form-control"><input type="hidden" ng-model="report.filepath" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 推荐日期</label>
                            <div class="col-xs-10">
                                <input kendo-date-picker k-options="config.reportDate" ng-model="report.date" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">备注</label>
                            <div class="col-xs-10">
                                <textarea rows="5" class="form-control" ng-model="report.desc"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">相关信息</label>
                            <div class="col-xs-10">
                                <p>已上传推荐报告数： <span class="red" ng-bind="rptInfo.total"></span> 份</p>
                                <p>最近上传的5份推荐报告信息：</p>
                                <ul>
                                    <li class="dark-orange" ng-repeat="list in rptInfo.list">[{{list.created_at}}] {{list.filename}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <button class="btn btn-success col-xs-2" ng-click="saveReport()" ng-disabled="rptForm.$invalid">保存</button>
                                <button class="btn btn-danger col-xs-2 margin-left-20" ng-click="win7.close()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div kendo-window="win8" k-title="'面试通知'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win8visible = true" k-on-close="win8visible = false">
            <div class="container-fluid" style="width:90%;">
                <div class="row">
                    <form name="faceForm" class="form form-horizontal" onsubmit="return false" novalidate>
                        <div class="form-group">
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4"><span class="red">*</span> 面试名称</label>
                                <div class="col-xs-8">
                                    <select kendo-drop-down-list ng-model="face.type" class="full-width">
                                        <option value="一面">一面</option>
                                        <option value="二面">二面</option>
                                        <option value="三面">三面</option>
                                        <option value="四面">四面</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4"><span class="red">*</span> 编号</label>
                                <div class="col-xs-8">
                                    <input kendo-numeric-text-box k-options="config.faceNum" ng-model="face.num" type="num" class="full-width" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4"><span class="red">*</span> 面试人</label>
                                <div class="col-xs-8">
                                    <input ng-model="face.person_id" type="hidden" class="form-control" readonly>
                                    <input ng-model="face.person_name" type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4"><span class="red">*</span> 面试岗位</label>
                                <div class="col-xs-8">
                                    <input ng-model="face.job_id" type="hidden" class="form-control" readonly>
                                    <input ng-model="face.job_name" type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4"><span class="red">*</span> 面试日期</label>
                                <div class="col-xs-8">
                                    <input kendo-date-picker k-options="config.faceDate" ng-model="face.date" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4"><span class="red">*</span> 面试时间</label>
                                <div class="col-xs-8">
                                    <input kendo-time-picker k-options="config.faceTime" ng-model="face.time" type="text" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4">手机号</label>
                                <div class="col-xs-8">
                                    <input ng-model="face.tel" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">备注</label>
                            <div class="col-xs-10">
                                <textarea rows="5" class="form-control" ng-model="face.desc" style="width:90%;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <button class="btn btn-success col-xs-2" ng-click="saveFace()" ng-disabled="faceForm.$invalid">保存</button>
                                <button class="btn btn-danger col-xs-2 margin-left-20" ng-click="win8.close()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div kendo-window="win9" k-title="'上传Offer'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win9visible = true" k-on-close="win9visible = false">
            <div class="container-fluid">
                <div class="row">
                    <form name="offerForm" class="form form-horizontal" onsubmit="return false" novalidate>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 上传Offer</label>
                            <div class="col-xs-10">
                                <input kendo-upload k-options="config.offerFile" type="file" class="form-control"><input type="hidden" ng-model="offer.filepath" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4"><span class="red">*</span> Offer日期</label>
                                <div class="col-xs-8">
                                    <input kendo-date-picker k-options="config.date" ng-model="offer.date" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-6 no-padding-left no-padding-right">
                                <label class="control-label col-xs-4">预计上岗日期</label>
                                <div class="col-xs-8">
                                    <input kendo-date-picker k-options="config.date" ng-model="offer.success_date" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">备注</label>
                            <div class="col-xs-10">
                                <textarea rows="5" class="form-control" ng-model="offer.desc"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <button class="btn btn-success col-xs-2" ng-click="saveOffer()" ng-disabled="offerForm.$invalid">保存</button>
                                <button class="btn btn-danger col-xs-2 margin-left-20" ng-click="win9.close()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div kendo-window="win10" k-title="'人选上岗'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win10visible = true" k-on-close="win10visible = false">
            <div class="container-fluid">
                <div class="row">
                    <form name="successForm" class="form form-horizontal" onsubmit="return false" novalidate>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 上岗日期</label>
                            <div class="col-xs-10">
                                <input kendo-date-picker k-options="config.successDate" ng-model="success.date" type="file" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 保证期</label>
                            <div class="col-xs-10">
                                <input kendo-date-picker k-options="config.protectedDate" ng-model="success.protected" type="file" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <button class="btn btn-success col-xs-2" ng-click="saveSuccess()" ng-disabled="successForm.$invalid">保存</button>
                                <button class="btn btn-danger col-xs-2 margin-left-20" ng-click="win10.close()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div kendo-window="win11" k-title="'业绩'" k-width="900" k-visible="false" k-modal="true" k-position="{top: '100px'}"
             k-on-open="win11visible = true" k-on-close="win11visible = false">
            <div class="container-fluid">
                <div class="row">
                    <form name="successForm" class="form form-horizontal" onsubmit="return false" novalidate>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 打款日期</label>
                            <div class="col-xs-10">
                                <input kendo-date-picker k-options="config.resultDate" ng-model="result.date" type="file" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 业绩额度</label>
                            <div class="col-xs-10">
                                <input kendo-numeric-text-box k-options="config.numeric" ng-model="result.amount" type="text" class="input-size-normal" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2"><span class="red">*</span> 类型</label>
                            <div class="col-xs-10">
                                <select kendo-drop-down-list ng-model="result.type" class="full-width">
                                    <option value="一期">一期</option>
                                    <option value="二期">二期</option>
                                    <option value="三期">三期</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <button class="btn btn-success col-xs-2" ng-click="saveResult()" ng-disabled="successForm.$invalid">保存</button>
                                <button class="btn btn-danger col-xs-2 margin-left-20" ng-click="win11.close()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
