<div>
    <div class="row">
        <div class="col-xs-12">
            ID: <span ng-bind="person.real_id"></span>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-xs-12">
            <ul class="list-group pos-rel" style="margin-bottom:0;">
                <a class="btn btn-xs btn-success" style="position:absolute;right:0;top:-30px;" ng-click="pushRecord()">添加共享信息</a>
                <li class="list-group-item list-group-item-warning" ng-if="huntInfo.description.length > 0"><b>寻访记录：</b>{{huntInfo.description}}</li>
                <li class="list-group-item text-center" ng-if="records.length == 0">暂时没有共享信息</li>
                <li class="list-group-item list-group-item-info" ng-repeat="rec in records track by $index">
                    <b>[共享信息] {{rec.user_name}}：</b>{{rec.content}}
                    <i ng-click="removeRecord(rec.id, $index)" class="red fa fa-trash-o pull-right pointer" title="删除" ng-if="session.id==rec.user_id"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <span ng-bind="person.name"></span>
                <small>
                    <span class="dark-gray">{{person.sex == '男' ? '先生' : '女士'}}</span>
                    <span class="margin-left-10"><i class="orange fa fa-mobile"></i> <span ng-bind="person.tel"></span></span>
                    <span class="margin-left-10" ng-if="person.email"><i class="orange fa fa-envelope"></i> <span ng-bind="person.email"></span></span>
                    <span class="pull-right">简历编号: {{person.web_id}}</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <span class="padding-15"><span class="dark-gray">当前职位：</span>{{person.job}}</span>/
        <span class="padding-15"><span class="dark-gray">所在公司：</span>{{person.company}}</span>/
        <span class="padding-15"><span class="dark-gray">简历来源：</span>{{person.source}}</span>/
        <br><br>
        <span class="padding-15"><span class="dark-gray">学历：</span>{{person.degree}}</span>/
        <span class="padding-15"><span class="dark-gray">年龄：</span>{{person.age}}人</span>/
        <span class="padding-15"><span class="dark-gray">工作年限：</span>{{person.year}}</span>/
        <span class="padding-15"><span class="dark-gray">婚姻状态：</span>{{person.marry}}</span>/
        <span class="padding-15"><span class="dark-gray">居住地：</span>{{person.location}}</span>/
        <span class="padding-15"><span class="dark-gray">户籍地：</span>{{person.belong}}</span>
    </div>
    <hr>
    <div ng-if="person.type=='upload'">
        <blockquote>
            <p>简历附件</p>
        </blockquote>
        <div class="row">
            <div class="col-xs-12">附件名称：
                <a href="/file/download-file?path={{person.file_path}}&name={{person.file_name}}&coded={{person.file_coded}}">
                    <span ng-if="person.file_coded==0">{{person.file_path.split('/').pop()}}</span>
                    <span ng-if="person.file_coded==1">{{person.file_name}}</span>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="person.type=='basic'">
        <div ng-if="person.companys.length > 0">
            <blockquote>
                <p>工作经历</p>
            </blockquote>
            <div class="panel panel-default" ng-repeat="company in person.companys">
                <div class="panel-heading">
                    <div class="panel-title"><span class="margin-right-10">{{company.start_time}} ~ {{company.end_time}}</span><span>{{company.company_name}}</span></div>
                </div>
                <div class="panel-body">
                    <p class="row">
                    <div class="col-xs-6">目前职位： {{company.job}}</div>
                    <div class="col-xs-6">所属部门： {{company.depart}}</div>
                    </p>
                    <p class="row">
                    <div class="col-xs-6">汇报对象： {{company.master}}</div>
                    <div class="col-xs-6">下属人数： {{company.slave}}</div>
                    </p>
                    <p class="row"><div class="col-xs-12">{{company.description}}</div></p>
                </div>
            </div>
        </div>
        <div ng-if="person.trainings.length > 0">
            <blockquote>
                <p>项目经历</p>
            </blockquote>
            <div class="panel panel-default" ng-repeat="training in person.trainings">
                <div class="panel-heading">
                    <div class="panel-title"><span class="margin-right-10">{{training.start_time}} ~ {{training.end_time}}</span><span>{{training.company_name}}</span></div>
                </div>
                <div class="panel-body">
                    <p class="row">
                    <div class="col-xs-12">项目名称： {{training.train_name}}</div>
                    </p>
                    <p class="row"><div class="col-xs-12">{{training.description}}</div></p>
                </div>
            </div>
        </div>
        <div ng-if="person.schools.length > 0">
            <blockquote>
                <p>教育经历</p>
            </blockquote>
            <div class="panel panel-default" ng-repeat="school in person.schools">
                <div class="panel-heading">
                    <div class="panel-title"><span class="margin-right-10">{{school.start_time}} ~ {{school.end_time}}</span><span>{{school.school_name}}</span></div>
                </div>
                <div class="panel-body">
                    <p class="row">
                    <div class="col-xs-4">学历： {{school.degree}}</div>
                    <div class="col-xs-4">专业： {{school.profession}}</div>
                    <div class="col-xs-4">是否统招： {{school.is_usual}}</div>
                    </p>
                </div>
            </div>
        </div>
        <div ng-if="person.appraise">
            <blockquote>
                <p>个人评价</p>
            </blockquote>
            <div class="panel panel-default">
                <div class="panel-body padding-10">
                    {{person.appraise}}
                </div>
            </div>
        </div>
        <hr>
        <blockquote>
            <span>简历补充信息</span>
            <div class="btn btn-xs btn-success pull-right" ng-click="pushAddition()">增加补充信息</div>

        </blockquote>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-warning" ng-repeat="add in additions track by $index">
                    <div class="panel-heading">
                        <span>信息提供者：{{add.user_name}}</span>
                        <span class="pull-right">提交时间：{{add.created_at}} <i ng-click="removeAddition(add.id, $index)" class="red fa fa-trash-o margin-left-5 pointer" title="删除" ng-if="session.id==add.created_by"></i></span>
                    </div>
                    <div class="panel-body">
                        {{add.content}}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <blockquote>
            <p>已推荐的职位</p>
        </blockquote>
        <div class="row">
            <div class="col-xs-12" ng-repeat="hunt in hunts">
                <a href="#/hunt/record/{{hunt.id}}">
                    <span ng-bind="hunt.job_name"></span>
                </a> /
                <small class="dark-gray">
                    <span ng-bind="hunt.company_name"></span>
                    <span class="margin-left-5">[{{hunt.updated_at}}]</span>
                </small>
            </div>
        </div>
    </div>
</div>