<div class="wrapper bg-white padding-15 margin-top-20 margin-bottom-50 box-shadow">
    <div class="container-fluid">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="#/">首页</a></li>
                <li>目标管理</li>
            </ul>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-xs-1"><a class="btn btn-sm btn-success"><i class="fa fa-plus"></i> 新增目标</a></div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-xs-12">
                <div class="bordered border-color-gray"><div id="grid"></div></div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
    $('#grid').kendoGrid({
        dataSource: {
            transport: {
                read: function (options) {
                    options.success([{month: '2018-11', result_target: 20000, result_count: 18000, result_percent: 18000/20000}]);
                }
            },
            schema: {
                model: {
                    id: 'id'
                }
            },
            pageSize: 10
        },
        scrollable: false,
        pageable: true,
        columns: [
            {field: 'month', title: '目标月份'},
            {title: '<div class=\'text-center\'>人选录入</div>', columns: [
                {field: 'result_target', title: '目标量'},
                {field: 'result_count', title: '完成量'},
                {field: 'result_percent', title: '完成率'}
            ]},
            {title: '<div class=\'text-center\'>BD签约</div>', columns: [
                {field: 'result_target', title: '目标量'},
                {field: 'result_count', title: '完成量'},
                {field: 'result_percent', title: '完成率'}
            ]},
            {title: '<div class=\'text-center\'>推荐报告</div>', columns: [
                {field: 'result_target', title: '目标量'},
                {field: 'result_count', title: '完成量'},
                {field: 'result_percent', title: '完成率'}
            ]},
            {title: '<div class=\'text-center\'>企业面试</div>', columns: [
                {field: 'result_target', title: '目标量'},
                {field: 'result_count', title: '完成量'},
                {field: 'result_percent', title: '完成率'}
            ]},
            {title: '<div class=\'text-center\'>Offer</div>', columns: [
                {field: 'result_target', title: '目标量'},
                {field: 'result_count', title: '完成量'},
                {field: 'result_percent', title: '完成率'}
            ]},
            {title: '<div class=\'text-center\'>入职上岗</div>', columns: [
                {field: 'result_target', title: '目标量'},
                {field: 'result_count', title: '完成量'},
                {field: 'result_percent', title: '完成率'}
            ]},
            {title: '<div class=\'text-center\'>回款业绩</div>', columns: [
                {field: 'result_target', title: '目标量'},
                {field: 'result_count', title: '完成量'},
                {field: 'result_percent', title: '完成率'}
            ]},
            {title: '操作', template: '<a class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>'}
        ]
    });
});
</script>