<div class="wrapper">
    <div class="container-fluid">
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
    $('#grid').kendoGrid({
        dataSource: {
            data: []
        },
        scrollable: false,
        pageable: true,
        columns: [
            {title: 'name'},
            {title: 'job'},
            {title: 'group'},
            {title: 'area'},
            {title: 'power'},
        ]
    });
});
</script>