<div class="wrap bg-white padding-15 margin-top-20 margin-bottom-50 bordered border-color-orange">
    <div class="container-fluid">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="#/">首页</a></li>
                <li>架构管理</li>
            </ul>
        </div>
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <div class="flex">
                    <div class="flex-1">已分配人员</div>
                    <div class="width-200">未分配人员</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {

});
</script>