.section { text-align: center; font: 20px "Microsoft Yahei"; color: #fff; }

#area li { display: inline-block; width: 45%; margin: 2px 5px; padding: 5px 10px; background: #f2f2f2; overflow: hidden; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
#area li.active { background: #FF6B01; color: #fff; }

.area-list { border: 1px solid #F38E00; display: none; }
.area-list.active { display: block; }
.area-list li { padding: 3px 5px; margin-top: 5px; }

.top-nav li { background: #f2f2f2; color: #999999; padding: 2px 3px; text-align: center; }
.top-nav li.active { background: #fdbf2d; color: #333; }

.top-nav-content li { padding: 10px; background: #fdbf2d; display: none; }
.top-nav-content li.active { display: block; }
.top-nav-content li img { margin: 2px 0; }
