html,body {height:100%;}
#app {display: flex;flex-direction: column;height:100%;}
.view-header {height: 50px; background: #ffdd57; display: flex; align-items: center;}
.view-body {flex: 1; display: flex;}
.view-side-nav {width: 60px; background: #666;}
.view-side-nav ul li {padding: 10px 0; text-align: center; color: #fff;}
.view-side-nav ul li.actived {background: #fff; color: #0487c4; box-shadow: 1px 0px 2px #ccc;}
.view-side-nav ul li a {display: block; text-decoration: none; color: inherit;}
.view-container {flex: 1;}
.view-container-side-nav {width: 150px; background: #eee;}