#user-menu { float: left; list-style: none; margin-top: 20px; }

#user-menu li { float: left; width: 30px; height: 30px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; text-align: center; line-height: 32px; background: #F38E00; color: #ffffff; margin: 0 10px; cursor: pointer; }

#user-menu li:hover { color: #FF6B01; }

#user { float: right; margin-top: 10px; margin-left: 20px; }

#user p { float: left; margin-right: 10px; line-height: 50px; }

#user img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; width: 50px; height: 50px; }

#nav { background: #F38E00; }

.nav-list { margin: 0; list-style: none; color: #FFFFFF; }

.nav-list > li { display: inline-block; position: relative; z-index: 11; padding: 10px 20px; cursor: pointer; }
.nav-list > li.active { background: #FF6B01; border: none; }
.nav-list > li > a { color: #FFFFFF; text-decoration: none; }
.nav-list > li:not(.active):hover:after { content: ""; width: 100%; height: 5px; position: absolute; top: 0; left: 0; display: block; z-index: 1; background: #FEF143; }

.sub-nav { position: absolute; z-index: 11; list-style: none; margin: 0; left: 0; top: 40px; background: #F38E00; min-width: 110px; }
.sub-nav li { padding: 10px 20px; text-align: center; }
.sub-nav li:hover { background: #F38E00; }
.sub-nav li > a { color: #FFFFFF; }

#side-bar { float: left; width: 210px; position: relative; top: 0; left: 0; }

#main { width: 760px; float: right; position: relative; top: 0; right: 0; }

.tabs .tab-title ul { list-style: none; margin: 0; border-bottom: 3px solid #999; padding: 0 10px; }
.tabs .tab-title ul li { display: inline-block; padding: 10px 20px; border-bottom: 3px solid #999; font-size: 1.1em; margin-bottom: -3px; cursor: pointer; }
.tabs .tab-title ul li.active { border-color: #F38E00; }
.tabs .tab-content { padding: 10px 0; }

.box { width: 100%; }
.box.bordered { border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.company-group, .school-group, .training-group { border: 1px dashed #ddd; padding: 5px; margin-top: 10px; }
